@import 'base.less';
@import 'skeleton.less';
@import 'layout.less';

header {
	overflow: hidden;
	
}
nav {
	z-index: 10;
	display: block;
	ul {
		margin: 0;
		background: rgba(255, 255, 255, .7);
		clear: left;
		width: 100%;
		overflow: hidden;
		
		li {
			float: left;
			background: white;
			margin-bottom: 0;
		
			a {
				display: block;
				padding: 1em;
				font-size: 110%;
				text-decoration: none;
				
				font-family:"Museo Sans 700", Arial, 'Helvetica Neue', Helvetica, sans-serif; font-weight:700; font-style:normal;
				font-weight: normal;
			
			
				-moz-transition:background-color 0.2s linear;
				-o-transition:background-color 0.2s linear;
				-webkit-transition:background-color 0.2s linear;
				-ms-transition:background-color 0.2s linear;
				transition:background-color 0.2s linear;
			
				&:hover, &:focus {
					background: #555;
					color: #eee;
				}
			}
		}
	}
}

.container {
	clear: both;
	z-index: 1;
	background: rgba(255, 255, 255, .7);
}

.header {
	
	a.home {
		font-family: Arial, Helvetica;
		font-size: 2em;
		line-height: 2em;
		text-decoration: none;
		word-spacing: -.1em;
		
		&:hover, &:focus {
			
			span {
				background: #555;
				color: #eee;
			}
		}
		
		img {
			vertical-align: middle;
		}
	}
}
#sponsors {
	li a.logo {
		display: block;
		background: white;
		text-align: center;
		border: 1px solid #dddddd;
		width: 220px;
		
		-moz-transition:background-color 0.2s linear;
		-o-transition:background-color 0.2s linear;
		-webkit-transition:background-color 0.2s linear;
		-ms-transition:background-color 0.2s linear;
		transition:background-color 0.2s linear;
		
		&:hover, &:focus {
			background: #efefef;
		}
	}
}

#presenters {
	li {
		clear: left;
		padding-left: 110px;
		margin-bottom: 1em;
		overflow: hidden;
		
		img {
			width: 100px;
			float: left;
			margin-left: -110px;
		}
		
		span.name {
			font-weight: bold;
		}
	}
	
	&.home {
		
		li {
			width: 100px;
			height: 120px;
			overflow: hidden;
			float: left;
			margin-right: 1em;
			margin-bottom: 1em;
			position: relative;
			clear: none;
			padding: 0;
			
			img {
				position: absolute;
				clip: rect( 0 100px 120px 0);
				margin: auto;
			}
			span.name {
				background-color: rgba(255, 255, 255, .7);
				color: black;
				font-size: .8em;
				font-weight: bold;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
			}
		}
		
	}
}

#schedule {
	background-color: rgba(255, 255, 255, .2);
	
	li {
		padding-left: 10px;
		
		&:nth-child(2n+1) {
			background-color: rgba(255, 255, 255, .9);
		}
	}
	
	h2 {
		font-size: 1em;
		margin-bottom: 0;
	}
	span.time {
		font-weight: normal;
		width: 4em;
		display: inline-block;
	}
	p:first-of-type {
		margin-top: -.5em;
		line-height: inherit;
		margin-left: 4.3em;
	}
}

#map {
	height: 300px;
}