@import 'base.less';
@import 'skeleton.less';
@import 'layout.less';

nav {
	z-index: 10;
	display: block;
	ul {
		margin: 0;
		background: rgba(255, 255, 255, .7);
		clear: left;
		width: 100%;
		overflow: hidden;
		
		li {
			float: left;
			background: white;
		
			a {
				display: block;
				padding: 1em;
				font-size: 110%;
				text-decoration: none;
				
				font-family:"Museo Sans 700", Arial, 'Helvetica Neue', Helvetica, sans-serif; font-weight:700; font-style:normal;
				font-weight: normal;
			
			
				-moz-transition:background-color 0.2s linear;
				-o-transition:background-color 0.2s linear;
				-webkit-transition:background-color 0.2s linear;
				-ms-transition:background-color 0.2s linear;
				transition:background-color 0.2s linear;
			
				&:hover, &:focus {
					background: #555;
					color: #eee;
				}
			}
		}
	}
}

.container {
	clear: both;
	z-index: 1;
}
.social {
	background: rgba(255, 255, 255, .7);
}
.header {
	background: rgba(255, 255, 255, .7);
	
	a.home {
		font-family: Arial, Helvetica;
		font-size: 1.5em;
		text-decoration: none;
		word-spacing: -.1em;
		display: block;
		width: 100%;
		
	}
}
#sponsors {
	li a.logo {
		display: block;
		background: white;
		text-align: center;
		border: 1px solid #dddddd;
		width: 220px;
		
		-moz-transition:background-color 0.2s linear;
		-o-transition:background-color 0.2s linear;
		-webkit-transition:background-color 0.2s linear;
		-ms-transition:background-color 0.2s linear;
		transition:background-color 0.2s linear;
		
		&:hover, &:focus {
			background: #efefef;
		}
	}
}

#presenters {
	li {
		h3 {
			overflow: hidden;
			height: 100px;
		
			&:before {
				content: "~ ";
				margin-left: -.9em;
			}
		}
		
		img {
			width: 100px;
			float: left;
			margin-right: 1em;
		}
	}
	
	&.home {
		
		li {
			width: 100px;
			height: 120px;
			overflow: hidden;
			float: left;
			margin-right: 1em;
			margin-bottom: 1em;
			position: relative;
			
			img {
				position: absolute;
				clip: rect( 0 100px 120px 0);
			}
			span.name {
				background-color: rgba(255, 255, 255, .7);
				color: black;
				font-size: .8em;
				font-weight: bold;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
			}
		}
		
	}
}

#schedule {
	
	h2 {
		font-size: 1em;
		
		span.time {
			font-weight: normal;
			padding-right: 2em;
		}
	}
}

#map {
	height: 300px;
}