/***********
 * HTML5 Style Reset
 ***********/
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; } 

/***********
 * General
 ***********/

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('League_Gothic-webfont.eot?') format('eot'),
         url('League_Gothic-webfont.woff') format('woff'),
         url('League_Gothic-webfont.ttf') format('truetype'),
         url('League_Gothic-webfont.svg#webfontFHzvtkso') format('svg');
    font-weight: normal;
    font-style: normal;

}

/***********
 * Layout
 ***********/

/*
	column margins: 1em left/right
	1		2		3		4
	22.5	47		71.5	98
*/

div.content,
header h1,
header h2,
div.browser-logos ul.logos {
	width: 98em;
}

h1 a, h1 a:visited {
	color: inherit;
	text-decoration: inherit;
}

#tickets, nav.main ul {
	width: 97em;
}

.most-important {
	width: 47em;
	float: left;
}

div.browser-logos ul.logos li {
	width: 22.5em;
}
.ie7 div.browser-logos ul.logos li, .ie8 div.browser-logos ul.logos li {
	width: 22em;
	padding-bottom: 3em;
}

#tickets, #register {
	float: left;
	margin: 2em 1em;
}

#who {
	width: 98em;
	margin: 1em;
	margin-top: 2em;
	clear: both;
}

.description {
	width: 71.5em;
	float: left;
}

#lws-logo {
	width: 22.5em;
	margin: 0 1em;
	float: right;
	
}

#sponsors {
	width: 98em;
}

#what, #register, #blog {
	width: 47em;
	margin: 2em 1em 0 1em;
	float: left;
}

#location {
	margin: 2em 1em;
}

#map, #transport {
	width: 47em;
	float: left;
}

#map {
	margin: 2em 0;
}

#transport {
	margin-right: 2em;
}

body {
  font:62.5%/1.5 Palatino Linotype,Palatino,Times New Roman,serif; /* base of 10px every thing should be in ems from here out */
  background:#ddd;
  color:#333;
}

section h1 {
	font-size: 3em;
	font-family: LeagueGothicRegular;
}

#colorbox p, #colorbox label, .content p, .content li, .content label, .content dd, #supporters p, td	 {
	font-size: 1.6em;
	padding-bottom:0.5em;
}

.mc-field-group {
	float: left;
	
}

.content label {
	margin-right: .5em;
}

#mce-EMAIL {
	clear: both;
}

.btn {
	margin: .5em;
	float: left;
	
}

.content li p, .content dd dd {
	font-size: 100%;
}

a:link
{
	color : #520000
}

a:hover, a:focus
{
	color : #A20000;
}

a:visited
{
	color : #220000;
}

footer a:visited
{
	color : #cccccc;
}

.content li {
	margin-left: 2em;
	list-style: circle;
}

/*** Site Header ***/
header {
  color:#fcf9ce;
  background:#520000 url(../images/backgrounds/header-bottom.png) repeat-x 0 100%;
}
header h1 {
	margin:0 auto;
	text-align: center;
}
header h1 span{
  font-size:8em;
  -webkit-text-shadow : 1px 1px 2px rgba(255,255,255,0.5), -1px -1px 2px rgba(0,0,0,0.9);  
  -moz-text-shadow : 1px 1px 2px rgba(255,255,255,0.5), -1px -1px 2px rgba(0,0,0,0.9);  
  -o-text-shadow : 1px 1px 2px rgba(255,255,255,0.5), -1px -1px 2px rgba(0,0,0,0.9);  
  -ms-text-shadow : 1px 1px 2px rgba(255,255,255,0.5), -1px -1px 2px rgba(0,0,0,0.9);  
  text-shadow : 1px 1px 2px rgba(255,255,255,0.5), -1px -1px 2px rgba(0,0,0,0.9);  
}

header h2 {
	margin: 0 auto;
}

header h2, .tickets a
{
	margin-top: -20px;
	padding-bottom: 30px;
	text-align: center;
	font-family: LeagueGothicRegular;
	letter-spacing: 0.1em;
}

header h2 span
{
	font-size : 2.5em;
	background-color: rgba(0,0,0,0.3);
	padding : 5px 15px;
	-webkit-border-radius : 100px;
	-moz-border-radius : 100px;
	-o-border-radius : 100px;
	-ms-border-radius : 100px;
	border-radius : 100px;				
	-webkit-box-shadow : 1px 1px 2px rgba(255,255,255,0.3), -1px -1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow : 1px 1px 2px rgba(255,255,255,0.3), -1px -1px 2px rgba(0,0,0,0.3);
	-o-box-shadow : 1px 1px 2px rgba(255,255,255,0.3), -1px -1px 2px rgba(0,0,0,0.3);
	-ms-box-shadow : 1px 1px 2px rgba(255,255,255,0.3), -1px -1px 2px rgba(0,0,0,0.3);
	box-shadow : 1px 1px 2px rgba(255,255,255,0.3), -1px -1px 2px rgba(0,0,0,0.3);	
}

/*** Browser Logos ***/
div.browser-logos {
  background:#313131 url(../images/backgrounds/browsers-bottom.png) repeat-x 0 100%;
}
div.browser-logos ul.logos{
  margin:0 auto;
  padding-left: 1em;
  overflow:hidden;
  list-style:none;
}

/*** LWS Logo ***/
a.lws {
	clear: left;
	display: block;
}

body.jsEnabled div.browser-logos ul.logos
{
	visibility : hidden;
}

div.browser-logos ul.logos li{
  float:left;
  margin:1em;
}
div.browser-logos ul.logos li a:active,
div.browser-logos ul.logos li a:hover,
div.browser-logos ul.logos li a:focus{
  /* TODO: add some hover styles */
}

/*** Main Navigation ***/
nav.main{
  background:#520000 url(../images/backgrounds/nav-bottom.png) repeat-x 0 100%;
  padding-bottom:12px;
}
nav.main ul{
  margin:0 auto;
  overflow:hidden;
  list-style:none;
}
nav.main ul li a{
	display:block;
	text-align: center;
	padding:0.8em 0;
	text-align:center;
	font-size:2em;
	font-style:italic;
}
nav.main ul li a:link,
nav.main ul li a:visited{
  color:#fcf9ce;
  text-decoration:none;
}
nav.main li {
	display: block;
	float: left;
	width: 18em;
}

nav.main ul li a:hover,
nav.main ul li a:focus,
nav.main ul li a:active{
  /* TODO: add some hover styles */
}

#tickets p {
	text-align: center;
	font-size: inherit;
}

#tickets a {
	font-size: 2em;
	color: white;
	padding: 1em;
	text-decoration: none;
	padding : .5em 1em;
	-webkit-border-radius : 100px;
	-moz-border-radius : 100px;
	-o-border-radius : 100px;
	-ms-border-radius : 100px;
	border-radius : 100px;				
	-webkit-box-shadow : 1px 1px 2px rgba(255,255,255,0.3), -1px -1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow : 1px 1px 2px rgba(255,255,255,0.3), -1px -1px 2px rgba(0,0,0,0.3);
	-o-box-shadow : 1px 1px 2px rgba(255,255,255,0.3), -1px -1px 2px rgba(0,0,0,0.3);
	-ms-box-shadow : 1px 1px 2px rgba(255,255,255,0.3), -1px -1px 2px rgba(0,0,0,0.3);
	box-shadow : 1px 1px 2px rgba(255,255,255,0.3), -1px -1px 2px rgba(0,0,0,0.3);
	background: #13911B;
}	

/*** Page Content ***/

div.content{
  margin:0 auto;
  text-align:left;
}
/*** Section > Who & Why ***/
section#who,
section#what{
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

ul.sponsors li {
	list-style: none;
	margin: 0 0 2em 0;
}

ul.sponsors img {
	margin-bottom: 1em;
}

ul.sponsors p {
	margin-left: 100px;

}


section#who {
	border-top: 1px solid transparent;
}


/*** Section > Location ***/
section#location,
section#timetable,
section#sponsors,
section#community,
section#speakers,
section#register{
  /*font-size:1.6em;
  overflow:hidden;*/
  clear:both;
}

section#sponsors li, section#community li {
	display: inline-block;
	margin-right: 3em;
	list-style: none;
}

section#sponsors ul, section#community ul {
	/* margin-bottom: 3em; */
	text-align: center;
}

section#community {
	background:#313131;
	color:#ccc;
	text-align: center;
}


section#location p#address{
	margin-bottom: 1em;
}

section#location h2, th {
  font-size : 2.7em;
  font-family: LeagueGothicRegular;
  
 }
section#location dl.public-transport{
  padding-right:2em;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
section#location dt{
  margin-top:0.5em;
  font-size:2.5em;
  font-family: LeagueGothicRegular;
}
section#location dl dd dl dt{
  font-size:1.4em;
}
section#location div#map{
  float:left;
  height:300px;
  background:#999;
  border:3px solid #fff;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

/*** Table ***/

table {
	margin: 2em;
	width: 100%;
}

tr.breakout td {
	border-bottom: 0;
	background: white;
}

tr.breakout td li {
	font-size: 100%;
}



tr {
	border-bottom: 1px solid #cccccc ;
}

td {
	padding: .5em;
}

strong {
	font-weight: bold;
}

/*** Sections beneath location ***/

section#timetable,
section#speakers,
section#register
{
	margin-top: 20px;
}

section#speakers dt {
	float: left;
	clear: left;
	width: 12ex;
	font-weight: bold;
}

section#timetable dl
{
	margin-top: -1em;
}

section#timetable dt
{
	margin-top: 1em;
	font-weight: bold;
}

p.disclaimer
{
	margin-top: 10px;
	font-size: 0.75em;
}

p.disclaimer strong
{
	font-weight: bold;
}

/*** Supporters ***/
section#supporters {
	background:#313131 url(../images/backgrounds/content-bottom.png) repeat-x 0 0;
	color:#ccc;
	margin-top: 20px;
	padding: 30px 0 0 0;
	clear: both;
}

section#supporters .content, section#community .content {
	text-align: center;
}

section#community h2 {
	font-family: LeagueGothicRegular;
	font-size: 2.5em;
}

section#supporters h1 {
	font-size: 1.6em;
}

section#community ul
{
  /* width:980px;*/
  padding: 1em 0;
}

section#supporters a, footer a:link
{
	color : #EEE;
}

/*** Footer ***/
footer {
	text-align: center;
	background:#313131;  
	color : #ccc;
	padding-bottom: 3em;
}

footer .content p {
	padding: 0 .6em;
}

/*** IE fixes ***/
/*.ie6 section#what, .ie7 section#what, 
.ie6 section#who, .ie7 section#who,
	.ie6 section#location dl.public-transport,
.ie7 section#location dl.public-transport*/ {
	width:46%;
}

.ie6 nav.main ul li,
.ie7 nav.main ul li {
	float:left;
	width: 22.5em;
 }

.ie6 nav.main ul li a,
.ie7 nav.main ul li a {
	float:none;
	width:auto;
 }

.ie6 .logos img {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
.ie6 .logos a {width: 200px; height: 200px; display: block;}

.ie6 .logos a.firefox {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, 
	src='/images/firefox.png',sizingMethod='crop');
}

.ie6 .logos a.opera {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, 
	src='/images/opera.png',sizingMethod='crop');
}

.ie6 .logos a.ie {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, 
	src='/images/ie9.png',sizingMethod='crop');
}

.ie6 .logos a.chrome {
	background: none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, 
	src='/images/chrome.png',sizingMethod='crop');
}

@media only screen and (max-device-width: 480px) {
	section#what, section#who, section#register, 
	section#sponsors, section#location, section#transport
	{
		width:100%;
	}
}
